<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>
    {% include site-nav.html %}

    <nav class="site-nav">
    </nav>
    <main class="page-content" aria-label="Content">
        <section id="home" class="page home">
            <div class="title">
                <h1>Jenny <span class="ampersand">&amp;</span> Taylor</h1>
                <h3 class="date">November 10 2018</h3>
            </div>
            <div class="svg-container magnolia-1">{% include svg/magnolia-1.svg %}</div>
            <div class="svg-container leaf-1">{% include svg/leaf-1.svg %}</div>
            <div class="svg-container magnolia-2">{% include svg/magnolia-2.svg %}</div>
            <div class="svg-container leaf-2">{% include svg/leaf-2.svg %}</div>
            <div class="svg-container leaf-outline">{% include svg/leaf-outline.svg %}</div>
            <div class="svg-container magnolia-outline">{% include svg/magnolia-outline.svg %}</div>
        </section>
        <section id="about" class="page about">
            <div class="grid-container">
                <div class="story">
                    <h2>Jenny and Taylor are tying the knot!</h2>
                    <p>With the special day fast approaching, we created this wedding website to provide our friends and family with all the important details about our wedding. We cannot wait to celebrate this moment of our lives with you.</p>
                    <h3>HOW WE MET</h3>
                    <p>It was the spring of 2011. Jenny was attending the University of Texas while living in a cozy house north of the campus. For the upcoming semester, she had signed up for Cellular Biology but still needed the textbook. While tending to her garden, Jenny met one of her next-door neighbors. After hearing about her upcoming schedule, he mentioned that his roommate kept all of his old books including the one that Jenny needed. Without hesitation, he freely volunteered his roommate’s book to her. With textbook in hand, she was ready. Weeks passed and the halfway mark of the semester neared. Midterms were on her doorstep but Jenny had yet to meet the book’s owner. Nevertheless, she decided to ask for help for her upcoming exam.</p>
                    <p>Taylor lived north of campus on East 30th Street during his final years of college at the University of Texas. He was studying neurobiology and government and spent a lot of his time in the library. As a result, Taylor had never met any of his neighbors. Even still, he always noticed the girl next door who played with her dog in her front yard. He also noticed that his textbook collection seemed to be getting smaller and smaller. Right when he was about to investigate, there was a knock at the door. Taylor’s neighbor had come to ask for advice about Cellular Biology and confessed that she took his textbook.</p>
                    <p>Little did Taylor know, Jenny was not only looking to take his books but also would end up taking his heart.</p>
                </div>
                <div class="gallery">
                </div>
            </div>
        </section>
    </main>
</body>

</html>