<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include site-nav.html %}
    <nav class="site-nav">
    </nav>
    <main class="page-content" aria-label="Content">
        <section id="home" class="page home">
            <div class="title">
                <h1>Jenny <span class="ampersand">&amp;</span> Taylor</h1>
                <h3 class="date">{{ page.wedding_date | date: "%B %-d %Y" }}</h3>
            </div>
            <div class="svg-container magnolia-1">{% include svg/magnolia-1.svg %}</div>
            <div class="svg-container leaf-1">{% include svg/leaf-1.svg %}</div>
            <div class="svg-container magnolia-2">{% include svg/magnolia-2.svg %}</div>
            <div class="svg-container leaf-2">{% include svg/leaf-2.svg %}</div>
            <div class="svg-container leaf-outline">{% include svg/leaf-outline.svg %}</div>
            <div class="svg-container magnolia-outline">{% include svg/magnolia-outline.svg %}</div>
        </section>
        <section id="about" class="page about">
            <div class="grid-container">
                <div class="intro">
                    {{ page.intro_about.site_intro | markdownify }}
                </div>
                <hr/>
            </div>
            <div class="grid-container">
                <div class="story">
                    {{ page.intro_about.about_us | markdownify }}
                </div>
                <div class="gallery">
                    <div class="image-slider">
                        {% for image in page.intro_about.photo_gallery %}
                        <div><img data-lazy="{{ image | relative_url }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="details" class="page details">
            <div class="grid-container">
                <hr class="section-separator" />
                <h2>When <span class="ampersand">&amp;</span> Where</h2>
            </div>
            <div class="grid-container">
                <div class="date-and-time">
                    <h4>The Ceremony <span class="ampersand">&amp;</span> Reception</h4>
                    <p>NOVEMBER 10 AT 4:00 PM</p>
                    <p><a href="https://goo.gl/maps/1ebxjRsKXZP2" target="_blank">1100 Richie Road
                        <br/> Big Spring, TX 79720</a></p>
                    <p>Dinner and Dancing to follow</p>
                    <p><em>Please send your RSVP by September 10, 2018</em></p>
                </div>
                <div class="attire">
                    {{ page.details.attire | markdownify }}
                </div>
            </div>
            <div class="grid-container">
                <div class="attire-gallery">
                    <div class="attire-slider">
                        {% for image in page.details.attire_examples %}
                        <div><img src="{{ image | relative_url }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section id="accommodations" class="page accommodations">
            <div class="grid-container">
                <h2>Travel <span class="ampersand">&amp;</span> Accommodations</h2>
                <div class="grid-container">
                    <div class="travel">
                        {{ page.accommodations.travel | markdownify }}
                    </div>
                    <hr/>
                    <div class="hotel">
                        {{ page.accommodations.hotel | markdownify }}
                    </div>
                </div>
            </div>
            <div class="svg-container leaf-outline">{% include svg/leaf-outline.svg %}</div>
            <div class="svg-container magnolia-outline">{% include svg/magnolia-outline.svg %}</div>
        </section>
        <section id="registry" class="page registry">
            <div class="grid-container">
                <div class="registry-intro">
                    <h2>Registry</h2>
                    {{ page.registry }}
                </div>
            </div>
            <div class="grid-container">
                <div class="registry-item">
                    
                </div>

            </div>
        </section>
    </main>
    {% include footer.html %}
</body>

</html>